<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <style>
				.title-center {
            text-align: center;
            margin-top: 50px;
        }

        .wrap {
            width: 400px;
            margin: 0 auto;
        }

        .form-area {
            margin-top: 25px;
        }

        .timeline-container {
            margin-top : 25px
        }
    </style>
</head>
<body>

<h1>안녕하세요 게시물 조회 테스트 페이지입니다</h1>
<div style="float: right">
    <a href="/my_profile" class="btn btn-primary"> 나 나중에 닉넴으로 </a>
</div>

<h1> test </h1>

로그인 사용자 정보 :
<hr>
<div class="row">
    {% for post in posts %}
        <div class="col-md-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-0">{{ post.content }}</h5>
                        </div>
                        <div style="text-align: right">
                            <span style="font-size: small">{{ post.author.username }}-{{ post.created_at|timesince }} 전</span>
                        </div>
                        <div style="float: right">

                            <a href="/post/{{ post.id }}" class="btn btn-primary">상세보기</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

</body>
</html>